In [1]:
import numpy as np
import pandas as pd

In [2]:
credits = pd.read_csv("D:\\temp\\My_Work\\Movie Recommendation\\Dataset\\credits.csv")
keywords = pd.read_csv("D:\\temp\\My_Work\\Movie Recommendation\\Dataset\\keywords.csv")
movies = pd.read_csv("D:\\temp\\My_Work\\Movie Recommendation\\Dataset\\movies_metadata.csv")

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_9408\885453441.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("D:\\temp\\My_Work\\Movie Recommendation\\archive (1)\\movies_metadata.csv")

In [3]:
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [4]:
movies = pd.concat([movies,credits,keywords],axis=1,join='inner')

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  cast                   45466 non-null  object
 25  crew                   45466 non-null  object
 26  id                     45466 non-null  int64
 27  id                     45466 non-null  int64
 28  keywords               45466 non-null  object
dtypes: float64(4), int64(2), object(23)
memory usage: 10.1+ MB

In [6]:
movies.dropna()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,cast,crew,id,id,keywords
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0,"[{'cast_id': 1, 'character': 'Craig Jones', 'c...","[{'credit_id': '52fe43999251416c75016ad5', 'de...",10634,10634,"[{'id': 897, 'name': 'rap music'}, {'id': 970,..."
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0,"[{'cast_id': 1, 'character': 'Seth Gecko', 'cr...","[{'credit_id': '52fe4271c3a36847f801f22d', 'de...",755,755,"[{'id': 246, 'name': 'dancing'}, {'id': 380, '..."
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0,"[{'cast_id': 22, 'character': 'Auggie Wren', '...","[{'credit_id': '52fe442ac3a36847f80861c1', 'de...",5894,5894,"[{'id': 919, 'name': 'smoking'}, {'id': 1901, ..."
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0,"[{'cast_id': 2, 'character': 'Kimberly Hart / ...","[{'credit_id': '52fe44d8c3a36847f80ad707', 'de...",9070,9070,"[{'id': 10988, 'name': 'based on tv series'}, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44274,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0,"[{'cast_id': 1001, 'character': 'The Man / Sou...","[{'credit_id': '52fe446f9251416c91010961', 'de...",31276,378108,"[{'id': 6091, 'name': 'war'}, {'id': 13141, 'n..."
44674,False,"{'id': 476961, 'name': 'Goon Collection', 'pos...",0,"[{'id': 35, 'name': 'Comedy'}]",https://www.facebook.com/GoonFilm/?fref=ts,336890,tt2417712,en,Goon: Last of the Enforcers,"During a pro lockout, Doug ""The Thug"" Glatt is...",...,Glatt's Back!,Goon: Last of the Enforcers,False,6.0,35.0,[],"[{'credit_id': '593ddfd192514105e2025064', 'de...",461533,77270,[]
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe48009251416c9107cb69', 'de...",81202,15075,"[{'id': 10183, 'name': 'independent film'}]"
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0,"[{'cast_id': 1, 'character': 'Himself', 'credi...","[{'credit_id': '57179597c3a3687fd6000f25', 'de...",393368,347630,"[{'id': 1930, 'name': 'kidnapping'}, {'id': 19..."
45029,False,"{'id': 417491, 'name': 'Bon Cop Bad Cop Collec...",0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",http://bcbc2.ca/en/,417489,tt4738174,fr,Bon Cop Bad Cop 2,Ward and Bouchard must face an important car t...,...,"It's okay America, we've got your back.",Bon Cop Bad Cop 2,False,6.8,5.0,"[{'cast_id': 1, 'character': 'Hans', 'credit_i...","[{'credit_id': '55b142fec3a368726500888b', 'de...",351192,18221,"[{'id': 1432, 'name': 'nasa'}, {'id': 9882, 'n..."

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  cast                   45466 non-null  object
 25  crew                   45466 non-null  object
 26  id                     45466 non-null  int64
 27  id                     45466 non-null  int64
 28  keywords               45466 non-null  object
dtypes: float64(4), int64(2), object(23)
memory usage: 10.1+ MB

In [8]:
movies = movies[['id','title','genres','overview','production_companies','cast','crew','keywords']]

In [9]:
movies.head(1)

,id,id,id,title,genres,overview,production_companies,cast,crew,keywords
0,862,862,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."

In [10]:
movies.isnull().sum()

id                        0
id                        0
id                        0
title                     6
genres                    0
overview                954
production_companies      3
cast                      0
crew                      0
keywords                  0
dtype: int64

In [11]:
movies.dropna(inplace=True)

In [12]:
movies.duplicated().sum()

8

In [13]:
movies = movies.drop_duplicates()

In [14]:
movies.duplicated().sum()

0

In [15]:
movies.iloc[0].genres

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [16]:
import ast
def convert(obj):
    li=[]
    for i in ast.literal_eval(obj):
        li.append(i['name'])
    return li

In [17]:
movies['genres'] = movies['genres'].apply(convert)

In [18]:
movies['production_companies'] = movies['production_companies'].apply(convert)

In [19]:
movies.iloc[1].keywords

'[{\'id\': 10090, \'name\': \'board game\'}, {\'id\': 10941, \'name\': \'disappearance\'}, {\'id\': 15101, \'name\': "based on children\'s book"}, {\'id\': 33467, \'name\': \'new home\'}, {\'id\': 158086, \'name\': \'recluse\'}, {\'id\': 158091, \'name\': \'giant insect\'}]'

In [20]:
movies['keywords'] = movies['keywords'].apply(convert)

In [21]:
movies.iloc[1].cast

"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f80a7c73', 'gender': 2, 'id': 2157, 'name': 'Robin Williams', 'order': 0, 'profile_path': '/sojtJyIV3lkUeThD7A2oHNm8183.jpg'}, {'cast_id': 8, 'character': 'Samuel Alan Parrish / Van Pelt', 'credit_id': '52fe44bfc3a36847f80a7c99', 'gender': 2, 'id': 8537, 'name': 'Jonathan Hyde', 'order': 1, 'profile_path': '/7il5D76vx6QVRVlpVvBPEC40MBi.jpg'}, {'cast_id': 2, 'character': 'Judy Sheperd', 'credit_id': '52fe44bfc3a36847f80a7c77', 'gender': 1, 'id': 205, 'name': 'Kirsten Dunst', 'order': 2, 'profile_path': '/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg'}, {'cast_id': 24, 'character': 'Peter Shepherd', 'credit_id': '52fe44c0c3a36847f80a7ce7', 'gender': 0, 'id': 145151, 'name': 'Bradley Pierce', 'order': 3, 'profile_path': '/j6iW0vVA23GQniAPSYI6mi4hiEW.jpg'}, {'cast_id': 10, 'character': 'Sarah Whittle', 'credit_id': '52fe44bfc3a36847f80a7c9d', 'gender': 1, 'id': 5149, 'name': 'Bonnie Hunt', 'order': 4, 'profile_path': '/7spiVQwmr8siw5QCcvvdRG3c7Lf.jpg'}, {'cast_id': 25, 'character': 'Nora Shepherd', 'credit_id': '52fe44c0c3a36847f80a7ceb', 'gender': 1, 'id': 10739, 'name': 'Bebe Neuwirth', 'order': 5, 'profile_path': '/xm58rpMRVDHS0IGttw1pTlqGwkN.jpg'}, {'cast_id': 26, 'character': 'Carl Bentley', 'credit_id': '52fe44c0c3a36847f80a7cef', 'gender': 2, 'id': 58563, 'name': 'David Alan Grier', 'order': 6, 'profile_path': '/5tkt3qRZTco4sz604aTIarQ0m8W.jpg'}, {'cast_id': 11, 'character': 'Carol Anne Parrish', 'credit_id': '52fe44bfc3a36847f80a7ca1', 'gender': 1, 'id': 1276, 'name': 'Patricia Clarkson', 'order': 7, 'profile_path': '/10ZSyaUqzUlKTd60HmeiGhlytZG.jpg'}, {'cast_id': 14, 'character': 'Alan Parrish (young)', 'credit_id': '52fe44bfc3a36847f80a7cad', 'gender': 0, 'id': 46530, 'name': 'Adam Hann-Byrd', 'order': 8, 'profile_path': '/hEoqDqtMO91hYWD5iDrDesnLDlt.jpg'}, {'cast_id': 13, 'character': 'Sarah Whittle (young)', 'credit_id': '52fe44bfc3a36847f80a7ca9', 'gender': 1, 'id': 56523, 'name': 'Laura Bell Bundy', 'order': 9, 'profile_path': '/8tAVDBRoZPjKfCbBDyh4iK9JNEp.jpg'}, {'cast_id': 31, 'character': 'Exterminator', 'credit_id': '52fe44c0c3a36847f80a7cff', 'gender': 2, 'id': 51551, 'name': 'James Handy', 'order': 10, 'profile_path': '/vm0WQmuP8jEGgFTd3VCcJe7zpUi.jpg'}, {'cast_id': 12, 'character': 'Mrs. Thomas the Realtor', 'credit_id': '52fe44bfc3a36847f80a7ca5', 'gender': 1, 'id': 56522, 'name': 'Gillian Barber', 'order': 11, 'profile_path': '/qoqPX15J5jh6Sy0A9JvvRJIuw64.jpg'}, {'cast_id': 28, 'character': 'Benjamin', 'credit_id': '52fe44c0c3a36847f80a7cf3', 'gender': 2, 'id': 1000304, 'name': 'Brandon Obray', 'order': 12, 'profile_path': None}, {'cast_id': 29, 'character': 'Caleb', 'credit_id': '52fe44c0c3a36847f80a7cf7', 'gender': 0, 'id': 188949, 'name': 'Cyrus Thiedeke', 'order': 13, 'profile_path': None}, {'cast_id': 30, 'character': 'Billy Jessup', 'credit_id': '52fe44c0c3a36847f80a7cfb', 'gender': 0, 'id': 1076551, 'name': 'Gary Joseph Thorup', 'order': 14, 'profile_path': None}, {'cast_id': 32, 'character': 'Cop', 'credit_id': '5588053fc3a36838530063f5', 'gender': 0, 'id': 1480246, 'name': 'Leonard Zola', 'order': 15, 'profile_path': None}, {'cast_id': 33, 'character': 'Bum', 'credit_id': '55935687925141645a002097', 'gender': 2, 'id': 25024, 'name': 'Lloyd Berry', 'order': 16, 'profile_path': '/s7SVCOtvcuQ9wRQPZfUdahb5x88.jpg'}, {'cast_id': 34, 'character': 'Jim Shepherd', 'credit_id': '559356d09251415df8002cb7', 'gender': 2, 'id': 27110, 'name': 'Malcolm Stewart', 'order': 17, 'profile_path': '/l2vgzkLR7GRr8ugjZCILA0OiliI.jpg'}, {'cast_id': 35, 'character': 'Martha Shepherd', 'credit_id': '55935730925141645a0020ad', 'gender': 0, 'id': 53715, 'name': 'Annabel Kershaw', 'order': 18, 'profile_path': '/1VqbvAohBwFhETZtDe76JXQcxKm.jpg'}, {'cast_id': 36, 'character': 'Gun Salesman', 'credit_id': '5593576992514167fd000610', 'gender': 2, 'id': 1379424, 'name': 'Darryl Henriques', 'order': 19, 'profile_path': '/7QMHooY9ewNQlE24WKAOdwW0evU.jpg'}, {'cast_id': 37, 'character': 'Paramedic', 'credit_id': '559357ae92514152de002f42', 'gender': 0, 'id': 1235504, 'name': 'Robyn Driscoll', 'order': 20, 'profile_path': None}, {'cast_id': 50, 'character': 'Paramedic', 'credit_id': '5657803b925141018f00a5dc', 'gender': 2, 'id': 25389, 'name': 'Peter Bryant', 'order': 21, 'profile_path': '/fkcx9Tnp25UC5HlI2eW3nGvumsZ.jpg'}, {'cast_id': 39, 'character': 'Girl', 'credit_id': '559358e292514152de002f63', 'gender': 0, 'id': 1483449, 'name': 'Sarah Gilson', 'order': 22, 'profile_path': None}, {'cast_id': 40, 'character': 'Girl', 'credit_id': '5593590d92514152db002df3', 'gender': 0, 'id': 1483450, 'name': 'Florica Vlad', 'order': 23, 'profile_path': None}, {'cast_id': 41, 'character': 'Baker', 'credit_id': '55935946c3a36869d1001b4d', 'gender': 0, 'id': 1483451, 'name': 'June Lion', 'order': 24, 'profile_path': None}, {'cast_id': 42, 'character': 'Pianist', 'credit_id': '5593597692514167fd000644', 'gender': 0, 'id': 1483452, 'name': 'Brenda Lockmuller', 'order': 25, 'profile_path': None}]"

In [22]:
def convertNew(obj):
    L=[]
    count = 0
    for i in ast.literal_eval(obj):
        if count<3:
            L.append(i['name'])
        else:
            break
    return L

In [23]:
movies['cast'] = movies['cast'].apply(convertNew)

In [24]:
movies.iloc[2].crew

"[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', 'gender': 2, 'id': 26502, 'job': 'Director', 'name': 'Howard Deutch', 'profile_path': '/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg'}, {'credit_id': '52fe466b9251416c75077aa3', 'department': 'Writing', 'gender': 2, 'id': 16837, 'job': 'Characters', 'name': 'Mark Steven Johnson', 'profile_path': '/6trChNn3o2bi4i2ipgMEAytwmZp.jpg'}, {'credit_id': '52fe466b9251416c75077aa9', 'department': 'Writing', 'gender': 2, 'id': 16837, 'job': 'Writer', 'name': 'Mark Steven Johnson', 'profile_path': '/6trChNn3o2bi4i2ipgMEAytwmZp.jpg'}, {'credit_id': '5675eb4b92514179dd003933', 'department': 'Crew', 'gender': 2, 'id': 1551320, 'job': 'Sound Recordist', 'name': 'Jack Keller', 'profile_path': None}]"

In [25]:
def crewconvert(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [26]:
movies['crew'] = movies['crew'].apply(crewconvert)

In [27]:
movies.head(1)

,id,id,id,title,genres,overview,production_companies,cast,crew,keywords
0,862,862,862,Toy Story,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",[Pixar Animation Studios],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],"[jealousy, toy, boy, friendship, friends, riva..."

In [28]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [29]:
movies.head(1)

,id,id,id,title,genres,overview,production_companies,cast,crew,keywords
0,862,862,862,Toy Story,"[Animation, Comedy, Family]","[Led, by, Woody,, Andy's, toys, live, happily,...",[Pixar Animation Studios],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],"[jealousy, toy, boy, friendship, friends, riva..."

In [30]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['production_companies'] = movies['production_companies'].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x])

In [31]:
movies.head()

,id,id,id,title,genres,overview,production_companies,cast,crew,keywords
0,862,862,862,Toy Story,"[Animation, Comedy, Family]","[Led, by, Woody,, Andy's, toys, live, happily,...",[PixarAnimationStudios],"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"[jealousy, toy, boy, friendship, friends, riva..."
1,8844,8844,8844,Jumanji,"[Adventure, Fantasy, Family]","[When, siblings, Judy, and, Peter, discover, a...","[TriStarPictures, TeitlerFilm, InterscopeCommu...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],"[boardgame, disappearance, basedonchildren'sbo..."
2,15602,15602,15602,Grumpier Old Men,"[Romance, Comedy]","[A, family, wedding, reignites, the, ancient, ...","[WarnerBros., LancasterGate]","[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],"[fishing, bestfriend, duringcreditsstinger, ol..."
3,31357,31357,31357,Waiting to Exhale,"[Comedy, Drama, Romance]","[Cheated, on,, mistreated, and, stepped, on,, ...",[TwentiethCenturyFoxFilmCorporation],"[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker],"[basedonnovel, interracialrelationship, single..."
4,11862,11862,11862,Father of the Bride Part II,[Comedy],"[Just, when, George, Banks, has, recovered, fr...","[SandollarProductions, TouchstonePictures]","[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer],"[baby, midlifecrisis, confidence, aging, daugh..."

In [32]:
movies['tags'] = movies['overview']+movies['genres']+movies['production_companies']+movies['cast']+movies['crew']+movies['keywords']

In [33]:
movies.head(1)

,id,id,id,title,genres,overview,production_companies,cast,crew,keywords,tags
0,862,862,862,Toy Story,"[Animation, Comedy, Family]","[Led, by, Woody,, Andy's, toys, live, happily,...",[PixarAnimationStudios],"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"[jealousy, toy, boy, friendship, friends, riva...","[Led, by, Woody,, Andy's, toys, live, happily,..."

In [34]:
movies.iloc[1].tags

['When',
 'siblings',
 'Judy',
 'and',
 'Peter',
 'discover',
 'an',
 'enchanted',
 'board',
 'game',
 'that',
 'opens',
 'the',
 'door',
 'to',
 'a',
 'magical',
 'world,',
 'they',
 'unwittingly',
 'invite',
 'Alan',
 '--',
 'an',
 'adult',
 "who's",
 'been',
 'trapped',
 'inside',
 'the',
 'game',
 'for',
 '26',
 'years',
 '--',
 'into',
 'their',
 'living',
 'room.',
 "Alan's",
 'only',
 'hope',
 'for',
 'freedom',
 'is',
 'to',
 'finish',
 'the',
 'game,',
 'which',
 'proves',
 'risky',
 'as',
 'all',
 'three',
 'find',
 'themselves',
 'running',
 'from',
 'giant',
 'rhinoceroses,',
 'evil',
 'monkeys',
 'and',
 'other',
 'terrifying',
 'creatures.',
 'Adventure',
 'Fantasy',
 'Family',
 'TriStarPictures',
 'TeitlerFilm',
 'InterscopeCommunications',
 'RobinWilliams',
 'JonathanHyde',
 'KirstenDunst',
 'BradleyPierce',
 'BonnieHunt',
 'BebeNeuwirth',
 'DavidAlanGrier',
 'PatriciaClarkson',
 'AdamHann-Byrd',
 'LauraBellBundy',
 'JamesHandy',
 'GillianBarber',
 'BrandonObray',
 'CyrusThiedeke',
 'GaryJosephThorup',
 'LeonardZola',
 'LloydBerry',
 'MalcolmStewart',
 'AnnabelKershaw',
 'DarrylHenriques',
 'RobynDriscoll',
 'PeterBryant',
 'SarahGilson',
 'FloricaVlad',
 'JuneLion',
 'BrendaLockmuller',
 'JoeJohnston',
 'boardgame',
 'disappearance',
 "basedonchildren'sbook",
 'newhome',
 'recluse',
 'giantinsect']

In [37]:
new_df = movies[['id','title','tags']]

In [38]:
new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_27400\3530946481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

In [39]:
new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_27400\3679624391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [40]:
import nltk

In [41]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [42]:
def stem(text):
    L = []
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [43]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_27400\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [69]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [70]:
vectors.shape

(44498, 5000)

In [71]:
vectors = vectors[40000:]

In [72]:
vectors.shape

(4498, 5000)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [73]:
similarity = cosine_similarity(vectors)

In [74]:
similarity.shape

(4498, 4498)

In [76]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index
    print(movie_index)
    distances = similarity[movie_index[0]]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movie_list:
        print(i)
        print(new_df.iloc[i[0]].title)

In [77]:
recommend("Jumanji")

Int64Index([1], dtype='int64')
(4054, 0.22116293423234573)
Death Warrant
(2139, 0.21650635094610968)
Indecent Proposal
(158, 0.21221867190679128)
Crumb
(3742, 0.20851441405707474)
Love & Sex
(3430, 0.20277677641345315)
Timecode

In [52]:
import pickle

In [53]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [54]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_27400\404797926.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [75]:
pickle.dump(similarity,open('similarity.pkl','wb'))